---
---

.background {
  position: relative;
  background: #5a0722;
  color: #ffffff;
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.15;
  z-index: -1;
}
